target/
/build/

# Gradle
.gradle

# InteliJ
.idea
*.iml

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
